.settings-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 200px; */
  /* height: 200px; */
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  gap: 20px;
}

.settings-box-header {
  text-align: center;
  font-size: 2rem;
  /* font-weight: bold; */
  line-height: 1;
  color: var(--white);
}