<div class="text-center form-signin">
	<form (submit)="onLogin(loginForm)" #loginForm="ngForm">
		<i class="fas fa-sign-in-alt sign-in-icon"></i>
		<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
		<div class="form-floating mb-3">
			<input name="email" type="email" ngModel class="form-control" id="floatingInput" placeholder="E-Mail"
				#emailInput="ngModel" required>
			<label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating mb-3 relative">
			<input style="margin: 0" name="password" [type]="showPassword ? 'text' : 'password'" ngModel
				class="form-control password-input" id="floatingPassword" placeholder="Password"
				#passwordInput="ngModel" required>
			<label for="floatingPassword">Password</label>
			<i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon"
				(click)="togglePasswordVisibility()"></i>
		</div>
		@if (!isLoading) {
			<button class="w-100 btn btn-lg btn-success mb-3" type="submit"
				[disabled]="!loginForm.valid">Sign in</button>
		}
		<a class="forgot-password" routerLink="/auth/forgot-password">Forgot password?</a>
		@if (isLoading) {
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		}
	</form>
</div>