<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>

@switch (data.title) {
  @case ('Confirm Deletion') {
    <mat-dialog-actions>
      <button type="button" class="btn btn-light me-2" mat-dialog-close>No</button>
      <button type="button" class="btn btn-danger" (click)="onConfirm()">Yes</button>
    </mat-dialog-actions>
  }
  @case ('Save Melody') {
    <mat-dialog-actions>
      <button type="button" class="btn btn-light me-2" mat-dialog-close>Cancel</button>
      <button type="button" class="btn primary-button" (click)="onConfirm()">Save for 1 Credit</button>
    </mat-dialog-actions>
  }
  @case ('Automatically logged out') {
    <mat-dialog-actions>
      <button type="button" class="btn btn-light me-3" mat-dialog-close>Close</button>
      <button type="button" class="btn primary-button" mat-dialog-close routerLink="/auth/login">Login</button>
    </mat-dialog-actions>
  }
  @case ('An error occurred!') {
    <mat-dialog-actions>
      <button type="button" class="btn btn-light" mat-dialog-close>Close</button>
    </mat-dialog-actions>
  }
}