<div class="container">
	<div class="row title-row">
		<div class="col-12">
			<h2 class="purple-color">Customize Your Melody</h2>
		</div>
		<div class="col-12">
			<p>Fine-tune your composition parameters</p>
		</div>
		<!-- ToDo: Spinner Position -->
		@if (isLoading) {
		<div class="col-12 center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		}
	</div>
	<div class="row">
		<div class="col-12">
			@if (!isLoading) {
			<form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
				<div class="settings-grid">
					<app-setting category="Scale" icon="fas fa-music" [settings]="settings" [options]="scales" (selectedOption)="onScaleChange($event)"></app-setting>
					<!-- <div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Scale
							</p>
							<i class="fas fa-music ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.scale }}</p>
						<app-dropdown [options]="scales" [selectedOption]="settings.scale"
							(selectedOptionChange)="onScaleChange($event)" placeholder="Select a scale"
							aria-label="Scale selector">
						</app-dropdown>
					</div> -->
					<div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Key
							</p>
							<i class="fas fa-key ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.key }}</p>
						<app-dropdown [options]="keys" [selectedOption]="settings.key"
							(selectedOptionChange)="onKeyChange($event)" placeholder="Select a key"
							aria-label="Key selector">
						</app-dropdown>
					</div>
					<div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Bars
							</p>
							<i class="fas fa-hashtag ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.bar }}</p>
						<select class="form-select" id="bars" required [(ngModel)]="settings.bar" name="bar"
							aria-label="Bars">
							<option value="" disabled>Select bars</option>
							@for (bar of bars; track bar) {
							<option [value]="bar">
								{{ bar }}
							</option>
							}
						</select>
					</div>
					<div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Complexity
							</p>
							<i class="fas fa-project-diagram ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.complex }}</p>
						<select class="form-select" id="complexity" required [(ngModel)]="settings.complex"
							name="complex" aria-label="Complexity">
							<option value="" disabled>Select complexity</option>
							@for (complex of complexity; track complex) {
							<option [value]="complex">
								{{ complex }}
							</option>
							}
						</select>
					</div>
					<div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Beats
							</p>
							<i class="fas fa-heartbeat ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.beat }}</p>
						<select class="form-select" id="beats" required [(ngModel)]="settings.beat" name="beat"
							aria-label="Beats">
							<option value="" disabled>Select a beat</option>
							@for (beat of beats; track beat) {
							<option [value]="beat">
								{{ beat }}
							</option>
							}
						</select>
					</div>
					<div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Name
							</p>
							<i class="fas fa-pen ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.name }}</p>
						<input [(ngModel)]="settings.name" name="melodyName" type="text" class="form-control"
							id="inputMelodyName" aria-label="Melody Name" />
					</div>
				</div>
				<div class="text-center mt-4">
					<button id="create" [disabled]="isPlaying" type="submit" class="btn primary-button">
						Create
					</button>
					<button id="playMelody" [disabled]="
              isPlaying || (melody === undefined && intervals === undefined)
            " type="button" (click)="play()" class="btn btn-light ms-3">
						Play
					</button>
					@if (userIsAuthenticated) {
					<button [disabled]="
              isPlaying || (melody === undefined && intervals === undefined)
            " type="button" (click)="save()" class="btn btn-success ms-3">
						Save
					</button>
					}
				</div>
			</form>
			} @if (melody) {
			<div>
				<p>{{ melodyDescription }}</p>
			</div>
			}
			<div class="white-bg">
				<app-score></app-score>
			</div>
		</div>
	</div>
</div>