h3 {
	/* font-family: 'Amatic SC', cursive; */
	font-size: 3rem;
	margin: 0;
}

.settings-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	;
	width: 200px;
	/* height: 200px; */
	border-radius: 10px;
	padding: 10px;
}

.blue-bg {
	background-color: var(--dashboard-blue-bg);
}

.orange-bg {
	background-color: var(--dashboard-orange-bg);
}

.settings-box-header {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1;
}

.dropdown-menu {
	height: 200px;
	overflow: scroll;
}