<nav class="navbar navbar-expand-lg navbar-custom">
	<div class="container-fluid">
		<!-- <a class="navbar-brand" routerLink="/">
			<img src="../../../assets/microphone-307365.svg" width="30" height="30" class="d-inline-block align-top me-1" alt="logo" loading="lazy">
		  </a> -->
		<a class="navbar-brand" routerLink="/">Melody Creator</a>
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/">Home</a>
				</li>
				@if (userIsAuthenticated) {
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/my-melodies">My Melodies</a>
				</li>
				}
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/features">Features</a>
				</li>
				<!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/pricing">Pricing</a>
				</li> -->
			</ul>
			@if (minutes < 1 && seconds < 31 && seconds> 0) {
				<div class="countdown">
					<span>For security reasons you will be logged out in {{seconds}} seconds. </span>
					<a class="hand underline header-link" (click)="stayLoggedIn()">Stay logged in</a>
				</div>
			}
			<!-- <span style="color: red;margin-right: 5px;">{{userIsAuthenticated}}</span>
			<span style="color: red;margin-right: 5px;">minutes: {{minutes}}</span>
			<span style="color: red;margin-right: 5px;">seconds: {{seconds}}</span> -->
			<form class="d-flex">
				@if (userIsAuthenticated) {
					<a class="navbar-brand custom-tooltip" routerLink="/user-profile">
						<i class="fas fa-user"></i>
						<span class="tooltiptext">User profile</span>
					</a>
					<button class="btn btn-dark my-2 my-sm-0 ms-2" (click)="onLogout()">Logout</button>
				}
				@else {
					<button class="btn btn-dark my-2 my-sm-0" routerLink="/auth/login">Login</button>
					<button class="btn btn-dark my-2 my-sm-0 ms-2" routerLink="/auth/signup">Signup</button>
				}
			</form>
		</div>
	</div>
</nav>