h1 {
	font-size: 4rem;
	line-height: 1.15;
	padding-bottom: 0.1em;
}

.bgr-top {
	background-color: var(--background-color-3);
	/* height: 17.5rem;
	width: 100%;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	margin: 0;
	overflow: hidden; */
}

.image-top {
	/* height: 25vh; */
	height: 15rem;
}

.my-auto {
	background-color: var(--background-color-3);
}

.header-title {
	width: 40rem
}

.container {
	min-height: 0;
}

@media (max-width: 600px) {
	.image-top {
		max-width: 37%;
		height: auto;
	}
}

@media (max-width: 768px) {
	.header-title {
		font-size: clamp(2rem, 10vw, 4rem);
	}
}