<div class="row mx-0">
	<div class="col-12 header-bg">
		<div class="container">
			<div class="content">
				<div class="flex-column">
					<h1 class="header-title app-title">{{title}}</h1>
					<p class="white-color">Create professional-quality melodies with our intuitive melody generator</p>
					<button class="btn primary-button mb-6" (click)="scrollToPosition(513)">Start Creating</button>
				</div>
				<!-- <img class="image-top" src="../../assets/music-1813100_1280.png" alt="Cat listening to music"> -->
				<img class="image-top" src="../../assets/musical-notes-2170231_1280.png" alt="Heart made of notes">
			</div>
		</div>
	</div>
</div>