<div class="row title-row">
	<div class="col-12 center-v mb-2">
		<h2 class="title">Features</h2>
		<i class="fas fa-star big-icon"></i>
	</div>
</div>
<div class="row" style="margin: 0; padding: 0;">
	<div class="col-12" style="margin: 0; padding: 0;">
		<ul>
			<li>13 different scales</li>
			<li>All 12 keys</li>
			<li>2, 4 or 8 bars</li>
			<li>Low and high complexity</li>
			<li>3/4 and 4/4 beat</li>
		</ul>
		<p>Sign up with a valid E-mail and a password, it's totally free. Then you can:</p>
		<ul>
			<li>Save your melodies</li>
			<li>Download them as a midi file</li>
		</ul>
	</div>
</div>