<div class="text-center form-signin">
	<form (submit)="onSetNewPassword(newPasswordForm)" #newPasswordForm="ngForm">
		<i class="fas fa-key sign-in-icon"></i>
		<h1 class="h3 mb-3 fw-normal">Enter a new password</h1>
		<div class="form-floating mb-3">
			<input style="margin: 0" name="password" [type]="showPassword ? 'text' : 'password'" ngModel class="form-control password-input" id="floatingPassword" placeholder="Password" #passwordInput="ngModel" required>
			<label for="floatingPassword">Password</label>
			<i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon" (click)="togglePasswordVisibility()"></i>
		</div>
		@if (!isLoading) {
			<button class="w-100 btn btn-lg btn-success mb-3" type="submit" [disabled]="!newPasswordForm.valid">Update Password</button>
		}
		@if (isLoading) {
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		}
	</form>
</div>
