<div class="row title-row">
	<div class="col-12 center-v mb-2">
		<h2 class="title">Choose your plan</h2>
		<i class="fas fa-dollar-sign big-icon"></i>
	</div>
	<div class="col-12">
		<p>One time payment, no subscription.</p>
	</div>
</div>
<div class="row mb-28">
	<div class="col-12 flex-center">
		<div class="pricing-box flex-col-space-between free">
			<div>
				<!-- <p class="pricing-headline">Free</p> -->
				<p class="pricing-headline">0 €</p>
				<p class="number-of-melodies">for 100 melodies</p>
				<hr>
				<ul>
					<li>Major and minor scale</li>
					<li>All keys</li>
					<li>2 or 4 bars</li>
					<li>Low complexity</li>
					<li>4/4 beat</li>
					<li>Download as midi file</li>
				</ul>
			</div>
			<button type="button" class="btn btn-outline-warning w-100">Try for free</button>
		</div>
		<div class="pricing-box flex-col-space-between recommended">
			<div>
				<!-- <p class="pricing-headline">Starter</p> -->
				<p class="pricing-headline">10 €</p>
				<p class="number-of-melodies">for 300 melodies</p>
				<hr>
				<ul>
					<li>All scales</li>
					<li>All keys</li>
					<li>2, 4, 8 or 16 bars</li>
					<li>Low, medium and high complexity</li>
					<li>All beats</li>
					<li>Download as midi file</li>
				</ul>
			</div>
			<button type="button" class="btn btn-warning w-100">Get Started</button>
		</div>
		<div class="pricing-box flex-col-space-between pro">
			<div>
				<!-- <p class="pricing-headline">Pro</p> -->
				<p class="pricing-headline">20 €</p>
				<p class="number-of-melodies">for 1000 melodies</p>
				<hr>
				<ul>
					<li>All scales</li>
					<li>All keys</li>
					<li>2, 4, 8 or 16 bars</li>
					<li>Low, medium and high complexity</li>
					<li>All beats</li>
					<li>Download as midi file</li>
				</ul>
			</div>
			<button type="button" class="btn btn-warning w-100">Get Started</button>
		</div>
	</div>
</div>
