<div class="container">
	<div class="row title-row">
		<div class="col-12 center-v mb-2">
			<h2 class="title">User Profile</h2>
		<i class="fas fa-user big-icon"></i>
	</div>
	<div class="col-12">
		<p>View or change your profile details</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="box grey-bg mb-12">
			<p class="subheadline">Email</p>
			<form (submit)="onSubmitNewEmail(editUserEmail)" #editUserEmail="ngForm">
				<div class="mb-3">
					<label for="inputEmail" class="form-label">Email address</label>
					<input
						type="email"
						class="form-control"
						id="inputEmail"
						name="email"
						[(ngModel)]="newEmail"
					>
				</div>
				<button type="submit" class="btn btn-success" [disabled]="newEmail === currentEmail">Save email</button>
			</form>
		</div>
		<div class="box grey-bg mb-12">
			<p class="subheadline">Password</p>
			<form (submit)="onSubmitNewPassword(editUserPassword)" #editUserPassword="ngForm">
				<div class="mb-3 relative">
					<label for="inputCurrentPassword" class="form-label">Current password</label>
					<input
						[type]="showPassword ? 'text' : 'password'"
						class="form-control password-input"
						id="inputCurrentPassword"
						name="password"
						[(ngModel)]="currentPassword"
					>
					<i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon-profile" (click)="togglePasswordVisibility()"></i>
				</div>
				<div class="mb-3 relative">
					<label for="inputNewPassword" class="form-label">New password</label>
					<input
						[type]="showNewPassword ? 'text' : 'password'"
						class="form-control"
						id="inputNewPassword"
						name="newpassword"
						[(ngModel)]="newPassword"
					>
					<i [class]="showNewPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon-profile" (click)="toggleNewPasswordVisibility()"></i>
				</div>
				<button type="submit" class="btn btn-success" [disabled]="isStringEmpty(currentPassword) || isStringEmpty(newPassword)">Save password</button>
				<!-- <button type="submit" class="btn btn-success" [disabled]="newEmail === currentEmail && (isStringEmpty(currentPassword) || isStringEmpty(newPassword))">Save Password</button> -->
			</form>
		</div>
		<div class="box grey-bg">
			<p class="subheadline">Delete Account</p>
			<button type="button" class="btn btn-danger" (click)="openConfirmationDialog()">Delete My Account</button>
		</div>

	</div>
	<div class="col-md-6">
		<div class="row mb-12">
			<div class="col-md-6">
				<div class="box orange-bg">
					<div>
						<div class="center-v flex-space-between">
							<p class="dashboard-number no-margin">{{totalMelodies}}</p>
							<i class="fas fa-music fa-2x opacity-half"></i>
						</div>
						<p class="dashboard-text no-margin">Melodies generated<p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box blue-bg">
					<div>
						<div class="center-v flex-space-between">
							<p class="dashboard-number no-margin">{{numberOfModes}}</p>
							<span class="material-symbols-outlined fs-38 mrn-5px opacity-half">piano</span>
						</div>
						<p class="dashboard-text no-margin">Scales used<p>
					</div>
					<!-- <p *ngIf="modes.length === 0" class="dashboard-number">0</p>
					<div class="dashboard-mode" *ngFor="let mode of modes">{{mode}}</div> -->
				</div>
			</div>
		</div>
		<div class="box grey-bg">
			<div class="center-v flex-space-between">
				<p class="subheadline no-margin">Scales</p>
				<i class="fas fa-poll-h fa-2x opacity-half"></i>
			</div>
			@if (numberOfModes === 0) {
				<p class="no-margin">No scales have been used yet.</p>
			}
			@for (mode of modes; track mode) {
				<div class="mb-2">
					<div class="flex-space-between">
						<p class="no-margin">{{mode[0]}}</p>
						<p class="no-margin">{{mode[1]}}</p>
					</div>
					<progress [value]="mode[1]" [max]="modesMaxValue"></progress>
				</div>
			}
		</div>
	</div>
</div>