.btn-auto {
	align-self: flex-start;
	width: auto;
}

progress::-webkit-progress-bar { background-color: var(--border-color); }
progress { background-color: var(--border-color); }

progress::-moz-progress-bar { background: var(--purple); }
progress::-webkit-progress-value { background: var(--purple); }
progress { color: var(--purple); }

.profile-image {
	position: absolute;
	top: 0;
	right: 0;
}

@media (max-width: 768px) {
	.profile-image {
		position: static;
		text-align: center;
	}
}
