<div class="container">
	<div class="form-signin">
		<form (submit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
			<div class="text-center">
				<i class="fas fa-unlock-alt sign-in-icon"></i>
				<h1 class="h3 mb-3 fw-normal">Reset password</h1>
				<p>We will help you to reset your password.</p>
			</div>
			<div class="mb-3">
				<label for="floatingEmail">Email address</label>
				<input name="email" type="email" ngModel class="form-control" id="floatingEmail" placeholder="E-Mail" #emailInput="ngModel" required>
			</div>
			@if (!isLoading) {
				<button class="w-100 btn btn-lg btn-success mb-3" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
			}
			@if (isLoading) {
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			}
			<div class="text-center">
				<a class="forgot-password" routerLink="/auth/login">Back to login</a>
			</div>
		</form>
	</div>
</div>
