<div class="text-center form-signin">
	<form (submit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
		<i class="fas fa-unlock-alt sign-in-icon"></i>
		<h1 class="h3 mb-3 fw-normal">Reset password</h1>
		<p>We will help you to reset your password.</p>
		<div class="form-floating mb-3">
			<input name="email" type="email" ngModel class="form-control" id="floatingInput" placeholder="E-Mail" #emailInput="ngModel" required>
			<label for="floatingInput">Email address</label>
		</div>
		@if (!isLoading) {
			<button class="w-100 btn btn-lg btn-success mb-3" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
		}
		@if (isLoading) {
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		}
		<div>
			<a class="forgot-password" routerLink="/auth/login">Back to login</a>
		</div>
	</form>
</div>
