.disabled {
	pointer-events: none;
}

.enabled {
	pointer-events: auto;
}

.space-between {
	display: flex;
	align-content: space-between;
}

.right {
	text-align: right;
}

.badge {
	font-size: 1rem;
}

.modal {
	--bs-modal-header-border-width: 0;
	--bs-modal-footer-border-width: 0;
}

.card-header {
	color: var(--white);
}

.card-header,
.list-group-item {
	padding: 1rem;
}

.list-group-flush > .list-group-item {
	border-width: 0;
}

.list-group-flush .list-group-item:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.list-group-item {
	border: 0;
}

.melody-action {
	opacity: 0.5;
	transition: opacity 0.3s;
}

.melody-action:hover {
	opacity: 1;
}
